[submodule "lean4basesource/anthropics-flt"]
	path = lean4basesource/anthropics-flt
	url = https://github.com/anthropics/fermats-last-theorem.git
[submodule "lean4basesource/atlas-lean"]
	path = lean4basesource/atlas-lean
	url = https://github.com/facebookresearch/atlas-lean.git
[submodule "lean4basesource/lean-quantum"]
	path = lean4basesource/lean-quantum
	url = https://github.com/inQWIRE/LeanQuantum.git
[submodule "lean4basesource/lean-stat-learning-theory"]
	path = lean4basesource/lean-stat-learning-theory
	url = https://github.com/YuanheZ/lean-stat-learning-theory.git
[submodule "lean4basesource/openai-navierstokes"]
	path = lean4basesource/openai-navierstokes
	url = https://github.com/openai/NavierStokesAndEuler.git
[submodule "lean4basesource/physlib"]
	path = lean4basesource/physlib
	url = https://github.com/leanprover-community/physlib.git
[submodule "lean4basesource/tnlean"]
	path = lean4basesource/tnlean
	url = https://github.com/LionSR/TNLean.git
[submodule "lean4basesource/xaviercallens-xflt"]
	path = lean4basesource/xaviercallens-xflt
	url = https://github.com/xaviercallens/xfermats-last-theorem.git
